<%- include("./partials/header");-%>

<section id="culinary" class="lightblue-section">
  <main class="container">
    <div class="row g-5">
      <div>
        <article class="blog-post">
          <h2 class="blog-post-title text-h2">Bangka & Belitung Culinary</h2>
          <img
            class="stroll-image"
            src="/images/foods/culinarybangka.jpg"
            alt="Bangka"
          />
          <p class="text-home">
            Specialty Foods of Bangka Belitung - The Bangka Belitung archipelago
            is an area that boasts breathtaking and exotic natural tourist
            destinations.
          </p>
          <p class="text-home">
            Its tourism potential soared even higher when it was chosen as the
            filming location for the movie "Laskar Pelangi"
          </p>
          <p class="text-home">
            In addition to its natural tourist destinations and rich history and
            culture, Bangka Belitung also offers culinary delights that are
            distinctive and must be tasted
          </p>
          <p class="text-home">
            The specialty foods of Bangka Belitung have a unique flavor that
            cannot be found elsewhere.
          </p>
          <p class="text-home">
            Typically, Bangka's cuisine is dominated by dishes made from seafood
            ingredients that are prepared in such a way as to create a blend of
            Malay and a hint of Chinese flavors
          </p>
        </article>
      </div>
    </div>
    <section>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="bd-placeholder-img card-img-top image-food"
              src="/images/foods/Bakmi.png"
              alt="Bakmi"
            />

            <div class="card-body">
              <p class="card-text">Bakmi, Kwetiuaw & others.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a id="bakmi" href="culinary/bakmi">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-primary"
                    >
                      View
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="bd-placeholder-img card-img-top image-food"
              src="/images/foods/otakotak.png"
              alt="otakotak"
            />

            <div class="card-body">
              <p class="card-text">Pempek-Pempek</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a id="otak_otak" href="culinary/otak_otak">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-primary"
                    >
                      View
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="bd-placeholder-img card-img-top image-food"
              src="/images/foods/seafood2.jpg"
              alt="seafood2"
            />

            <div class="card-body">
              <p class="card-text">Seafood.</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a id="seafood" href="culinary/seafood">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-primary"
                    >
                      View
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              class="bd-placeholder-img card-img-top image-food"
              src="/images/foods/Lempah-Kuning-Bangka.png"
              alt="Lempah-Kuning-Bangka"
            />

            <div class="card-body">
              <p class="card-text">unique Food.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a id="uniquefood" href="culinary/uniquefood">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-primary"
                    >
                      View
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="bd-placeholder-img card-img-top image-food"
              src="/images/foods/lempuk.jpg"
              alt="lempuk.png"
            />

            <div class="card-body">
              <p class="card-text">Other Snacks</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a id="others" href="culinary/others">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-primary"
                    >
                      View
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              class="bd-placeholder-img card-img-top image-food"
              src="/images/foods/snacks.png"
              alt="snacks"
            />

            <div class="card-body">
              <p class="card-text">Snacks</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a id="snacks" href="culinary/snacks"
                    ><button
                      type="button"
                      class="btn btn-sm btn-outline-primary"
                    >
                      View
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>

<%- include("./partials/footer"); -%>
