<%- include("./partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <div class="center-image">
          <h3 class="feartures-title">Jojo</h3>
          <img
            class="jojo-image"
            src="/images/jovanaction.jpg"
            alt="Jojo-profile"
          />
          <p class="text-home">
            Welcome to my collection of Bangka & Belitung Island - an inspiring
            travel blog managed by Jojo, an Indonesian traveler. A comprehensive
            brain-dump of everything I know about cities: where to eat, where to
            stay,things to do, and recommended itineraries
          </p>
        </div>
        <div class="features-box">
          <img
            class="container-image"
            src="/images/places/belitung.png"
            alt="Belitung"
          />

          <h3 class="centered">Bangka & Belitung Destination</h3>
          <p class="text-home">
            Have you ever heard about Bangka Belitung? Both places are located
            on the same province called Bangka Belitung. While Bangka Island has
            its own capital city called Pangkal Pinang and Belitung with Tanjung
            Pandan.
          </p>
          <hr />
          <p class="text-home">
            Bangka Belitung has become a popular place because it used to be a
            location for an Indonesian movie called “Laskar Pelangi” (which was
            popular at that time). Since then, Bangka Belitung has become one of
            the favorite destinations to visit.
          </p>
          <p class="text-home">
            Located in the west of Indonesia, Bangka Belitung has many
            interesting things to offer for every traveler like you. It has one
            of favorite places to visit. It was a place for the Laskar Pelangi
            movie and you will be welcomed with the unique vibes of studying
            just like in the movie.
          </p>
          <p class="text-home">
            Besides points of interest that you may want to visit, Bangka
            Belitung is an offshore area where you can find beaches easily and
            find local food such as seafood for that easy. This time, we have
            summed up several traditional foods in Bangka Belitung that you may
            want to taste if visiting Bangka Belitung.
          </p>
        </div>
      </div>
    </div>
  </main>
</section>

<%- include("./partials/footer"); -%>
