<%- include("./partials/header"); -%>
<section class="lightblue-section" id="hotel">
  <main class="container">
    <div class="row g-5">
      <div class="container-fluid">
        <div>
          <h3 class="text-h3">Hotels In Bangka Belitung</h3>
          <p class="text-home">
            Star-rated hotels in Bangka Belitung, are on the rise, offering a
            burgeoning array of options. Competitive pricing stands out as a key
            draw for visitors. Here, we present a selection of top-rated hotels
            in Bangka
          </p>
        </div>

        <div class="col">
          <div class="container-fluid">
            <img
              class="bd-placeholder-img card-img-top image-left"
              src="/images/hotel/novotel bangka golf.jpg"
              alt="novotel bangka golf"
            />

            <h3 class="text-left text-h3">
              Novotel Bangka Golf & Convention Centre(5*****)
            </h3>
            <p class="text-home text-left">
              Jl. Soekarno Hatta Km. 5 – 33172<br />
              Pangkalan Baru – Bangka Tengah<br />
              Telp. 0717 436888 Fax. 0717 436889 <br />
              Email:welcome@novotelbangka.com
            </p>
          </div>
        </div>

        <div class="col">
          <div class="container-fluid">
            <img
              class="bd-placeholder-img card-img-top image-right"
              src="/images/hotel/soll marina bangka.jpg"
              alt="soll marina bangka"
            />
            <h3 class="text-right text-h3">
              Aston Soll Marina Hotel & Conference Center – Bangka(3***)
            </h3>
            <p class="text-home text-right">
              Jl. Koba km 8<br />
              Pangkalan Baru – Bangka Tengah<br />
              Telp. 0717-4261261 fax. 0717 4261262 <br />
            </p>
          </div>
        </div>

        <div class="col">
          <div>
            <img
              class="bd-placeholder-img card-img-top image-left"
              src="/images/hotel/parai hotel.jpg"
              alt="parai hotel"
            />

            <h3 class="text-left text-h3">
              Parai Beach Resort & Spa – Sungailiat.(4****)
            </h3>
            <p class="text-home text-left">
              Kawasan Wisata Pantai Parai Tenggiri <br />
              Sungailiat – Bangka<br />
              Telp. (0717) 94888. Fax. (0717) 94000 hunting. 92335 SMS
              Reservation: 0812 7174 888<br />
              Email: reservation@parai.net, parai@eljhon.world.com <br />
            </p>
          </div>
        </div>

        <div class="col">
          <div>
            <img
              class="bd-placeholder-img card-img-top image-right"
              src="/images/hotel/fairfieldbelitung.jpg"
              alt="fairfieldbelitung"
            />

            <h3 class="text-right text-h3">
              Fairfield By Mariott Belitung.(4****)
            </h3>
            <p class="text-home text-right">
              Jl. Pattimura No.1<br />
              Tj. Pendam, Kec. Tj. Pandan, Kabupaten Belitung<br />
              Telp. (0719) 9225998 <br />
            </p>
          </div>
        </div>

        <div class="col">
          <div>
            <img
              class="bd-placeholder-img card-img-top image-left"
              src="/images/hotel/bwsuitebelitung.jpg"
              alt="bwsuitebelitung"
            />

            <h3 class="text-left text-h3">Hotel Bw Suite Belitung (4****)</h3>
            <p class="text-home text-left">
              Jl. Pattimura, Tanjung Pandan<br />
              Belitung 33414, Kepulauan Bangka Belitung<br />
              Telp. 071923898 <br />
              Email:info@bwsuitebelitung.com <br />
            </p>
          </div>
        </div>

        <div class="col">
          <div>
            <img
              class="bd-placeholder-img card-img-top image-right"
              src="/images/hotel/hotelsantika.jpg"
              alt="hotelsantika"
            />

            <h3 class="text-right text-h3">
              Hotel Santika Premiere Beach Resort Belitung.(4****)
            </h3>
            <p class="text-home text-right">
              Jl. Pantai, Dusun Ulu, Sijuk<br />
              Kabupaten Belitung, Kepulauan Bangka Belitung 33414<br />
              Telp. +62-823-7189-1889 <br />
              Email:belitungpremiere@reservation. <br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <h3 class="text-h3">Affordable accommodations on Bangka Island</h3>
    <ul>
      <li class="text-h5">Penginapan Kacang Pedang Permai</li>
      <li class="text-h5">Hotel Golden Vella</li>
      <li class="text-h5">Hotel Puri 56</li>
      <li class="text-h5">Griya Tirta Hotel</li>
      <li class="text-h5">Hotel Rapos</li>
      <li class="text-h5">Hotel Sola Gracia</li>
      <li class="text-h5">Hotel Sutos Guest House</li>
      <li class="text-h5">Wisma Kelekak Bunda</li>
      <li class="text-h5">Penginapan Kacang Pedang</li>
      <li class="text-h5">Penginapan Bukit Sofa</li>
      <li class="text-h5">Hotel sejati Sungailiat</li>
    </ul>
    <h3 class="text-h3">Affordable accommodations on Belitung Island</h3>
    <ul>
      <li class="text-h5">Hotel SURYA</li>
      <li class="text-h5">Hotel Citra</li>
      <li class="text-h5">Hotel Citra 21</li>
      <li class="text-h5">Hotel Oasis Manggar</li>
      <li class="text-h5">Lux Melati</li>
      <li class="text-h5">MaxOne Hotel</li>
      <li class="text-h5">Penginapan Bunga Pantai</li>
      <li class="text-h5">Hotel Mendanau</li>
      <li class="text-h5">Hotel Harlika Jaya</li>
      <li class="text-h5">Wisma Bougenville</li>
    </ul>
  </main>
</section>

<%- include("./partials/footer"); -%>
