<%- include("./partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container col-sm">
    <div class="row g-5">
      <div class="full-text">
        <div class="features-box">
          <img
            class="container-signin"
            src="/images/places/bangka2.jpg"
            alt="Belitung"
          />
          <h3 class="centered-signin">Bangka & Belitung Destination</h3>
          <div class="row">
            <div class="container-fluid">
              <a
                class="centered-signin-register btn btn-primary btn-sm"
                href="signin/register"
                role="button"
                >Register</a
              >
            </div>

            <div class="container-fluid">
              <a
                class="centered-signin-login btn btn-primary btn-sm"
                href="signin/login"
                role="button"
                >Login</a
              >
            </div>
          </div>
          <img
            class="container-signin"
            src="/images/places/tanjungtinggi.jpg"
            alt="tanjungtinggi"
          />
        </div>
      </div>
    </div>
  </main>
</section>

<%- include("./partials/footer"); -%>
