<%- include("./partials/header"); -%>
<section class="lightblue-section" id="transport">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">
          Explore the Bangka Belitung Islands!
          <br />
          Here are the transportation options:
        </h2>
        <h3 class="text-h3">Transportation Options in Bangka Belitung:</h3>
        <p class="text-home">
          Bangka Belitung Islands offer great tourism potential, with its
          captivating beaches and fascinating natural attractions. <br />
          To visit the prime destinations of Bangka Belitung, you can utilize
          the available public transportation options:
        </p>
        <ul>
          <li>
            <h3 class="text-h3">Taxi:</h3>
            <p class="text-home">
              The first option is conventional taxis and online ride-hailing
              services. From the airport, you can easily find conventional taxi
              services. However, afterward, you can take taxis provided by
              hotels or book them online through apps since conventional taxis
              are scarce on the streets.
            </p>
            <ul>
              <li>
                <h5 class="text-h5">Advantages:</h5>
              </li>
              <P class="text-home"
                >Taxis are the most comfortable public transportation option.
                You can book them using ride-hailing apps on your smartphone.</P
              >
              <li>
                <h5 class="text-h5">Disadvantages:</h5>
              </li>
              <p class="text-home">
                Conventional taxis are hard to find on the streets.
              </p>
            </ul>
          </li>

          <li>
            <h3 class="text-h3">City Transport:</h3>

            <p class="text-home">
              City transport, often called "angkot" is a common mode of public
              transport for all, from schoolchildren to the elderly, due to its
              affordability.
            </p>
            <ul>
              <li><h5 class="text-h5">Advantages:</h5></li>
              <p class="text-home">
                Cost-effective fares for traveling during holidays.
              </p>

              <li><h5 class="text-h5">Disadvantages:</h5></li>
              <p class="text-home">
                Unfortunately, the number of "angkot" in Bangka Belitung is
                limited, making them hard to come by. Moreover, their routes are
                limited. You'll also need to wait at specific locations to catch
                one.
              </p>
            </ul>
          </li>

          <li>
            <h3 class="text-h3">Online Transport:</h3>

            <p class="text-home">
              Apart from taxis, you can also order online transport via apps.
              Several renowned online ride-hailing providers now offer this
              service in Bangka Belitung.
            </p>
            <ul>
              <li>
                <h5 class="text-h5">Advantages:</h5>
              </li>
              <p class="text-home">
                Online motorcycle taxi apps are available nationally, allowing
                you to use them not only in your hometown or Bangka Belitung but
                also elsewhere. Cashless payments are also possible if you don't
                have cash.
              </p>
              <li><h5 class="text-h5">Disadvantages:</h5></li>
              <p class="text-home">
                Fare : depends on the distance. You can check the fares
                accurately on the app
              </p>
            </ul>
          </li>

          <li>
            <h3 class="text-h3">Car Rental:</h3>

            <p class="text-home">
              Alternatively, you can rent a car for a more private journey. One
              place for car rental in Bangka Belitung is Traveloka. Here, you
              can not only book round-trip tickets to Bangka Belitung but also
              various other services. One of these services is car rental in
              Bangka Belitung.
            </p>
            <ul>
              <li><h5 class="text-h5">Advantages:</h5></li>
              <p class="text-home">
                Booking is easy. You can use the Traveloka app or visit their
                website. Then, choose whether you want a car with or without a
                driver. After that, specify the rental location and duration. If
                you're not familiar with the roads, it's best to rent a car with
                a driver. Besides easy booking, you'll also receive excellent
                service, professional and experienced drivers, and convenient
                payment. Moreover, the total transportation cost is more
                economical, and you can travel comfortably with your partner or
                family.
              </p>
              <li>
                <h5 class="text-h5">Fare :</h5>
              </li>
              <p class="text-home">
                For accurate prices, use the search function in the app or
                website. From there, you can get information on car availability
                and fares.
              </p>
            </ul>
          </li>

          <li>
            <h3 class="text-h3">City and Intercity Buses:></h3>

            <p class="text-home">
              In Bangka Belitung, there are two bus services: city buses and
              intercity buses. One city bus service you can use is DAMRI.
              However, for traveling outside the city, it's better to use
              intercity bus services. This option is suitable if you want to
              explore several cities in the Bangka Belitung Islands.
            </p>
            <ul>
              <li><h5 class="text-h5">Advantages:</h5></li>
              <p class="text-home">
                During the journey, you can interact with locals and get
                additional information about transportation there.
              </p>
              <li><h5 class="text-h5">Disadvantages:</h5></li>
              <p class="text-home">
                The number of buses is still limited. Moreover, arrival and
                departure times may not be precise or may deviate from the
                schedule, making it slightly inconvenient to travel by bus.
              </p>
            </ul>
          </li>
        </ul>
        <p class="text-home">
          From the explanations above, public transportation like buses and
          "angkot" are not the most suitable for getting around the Bangka
          Belitung Islands. Additionally, the operating hours of "angkot" are
          limited, from 06:30 to 16:30, making them less flexible.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("./partials/footer"); -%>
