<%- include("../partials/header.ejs");-%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2" id="bakmi">Bakmie, Pantiau & Bihun</h2>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/Bakmi.png"
          alt="Bakmi"
        />

        <h3 class="text-left text-h3">Bakmi</h3>

        <p class="text-home">
          Noodles are indeed highly favored by both children and adults. So, if
          you're strolling around Bangka Belitung and looking for delicious and
          renowned culinary delights.
        </p>
        <p class="text-home">
          Bangka Noodles is the next food that joins the list of specialties
          from Bangka Belitung. In its native island, this food is more commonly
          known as "Mien" and still falls under the category of Khek cuisine.
        </p>
        <p class="text-home">
          For serving, Bangka noodles are typically accompanied by slices of
          chicken in sweet soy sauce, slices of pork, seafood, fish balls, and
          "tahu kok," which are authentic tofu balls from Bangka Island.
        </p>
        <p class="text-home">
          As toppings, they usually add dumplings, bean sprouts, and half-cooked
          mustard greens. Pour the typical chili sauce from Bangka Island on top
          to experience an extraordinary sensation of delight.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/kwetiauw.png"
          alt="Kwetiau.png"
        />

        <h3 class="text-right text-h3">Pantiau</h3>
        <p class="text-home">
          In the Bangka Belitung Islands province, there is a food that
          resembles flat rice noodles (kwetiau). It's called "pantiau." This
          dish is one of the traditional specialties of Bangka cuisine. Pantiau
          originates from the Hakka language, one of the Chinese ethnic groups
          residing in the Bangka Belitung Islands region. "Pan" means half,
          while "tiau" means heavy. This Bangka specialty food is a semi-heavy
          meal that can serve as a substitute for rice.
        </p>
        <p class="text-home">
          However, this type of food is not kwetiau. If kwetiau is prepared by
          frying and served dry, pantiau is served with a little broth. This
          dish can also be served dry, but it is rare.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/tahukok.png"
          alt="Tahukok"
        />

        <h3 class="text-left text-h3">Tahukok</h3>
        <p class="text-home">
          In one bowl, you will be served boiled tofu, fried tofu, fish balls,
          fried fish balls, and fukian (tofu skin) with broth that has been
          simmered with chicken broth.In cold weather, tofu becomes warm and
          delightful with tauco sauce.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/laksa.png"
          alt="laksa.png"
        />

        <h3 class="text-right text-h3">Lakse</h3>
        <p class="text-home">
          Another noodle dish you shouldn't miss when visiting Bangka Belitung
          is "lakse," which is a specialty of the Belitung Malay people who
          enjoy coconut milk-based dishes. This Bangka Belitung specialty is
          made from rice flour, coconut milk, and sago. Similar to "beregoh,"
          this dish is also enjoyed with broth made from mackerel fish.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/songsui.png"
          alt="Songsui"
        />

        <h3 class="text-left text-h3">Songsui</h3>
        <p class="text-home">
          A savory and flavorful dish from Bangka Belitung that is worth trying
          is Songsui. The name "Songsui" means pork offal soup. Songsui is a
          non-halal dish made from a mixture of pork meat, pork offal, pork
          liver, mustard greens, and semi-cooked eggs. Afterwards, it is poured
          with broth soup and garnished with fried onions at the end.
        </p>
      </div>
    </div>
  </main>
</section>
<%- include("../partials/footer"); -%>
