<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div class="container-fluid">
        <h2 class="text-h2" id="otakotak">Pempek-Pempek</h2>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/foods/otakotak3.jpg"
          alt="otakotak3.jpg"
        />
        <p class="text-home">
          The variety of Bangka's otak-otak is indeed diverse. In the evening or
          at night, visit Jalan Balai located right behind the Pangkalpinang
          City Square. This place is well-known in the city of Pangkalpinang,
          and you can ask anyone you meet if you're still unsure about the
          location of this culinary destination. Now, at this location, you will
          find a variety of Bangka's otak-otak.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/otakotak2.png"
          alt="otakotak2"
        />

        <h3 class="text-left text-h3">Otak -Otak</h3>
        <p class="text-home">
          Not only those wrapped in banana leaves and grilled, but at this
          location, you can also find fried otak-otak satay, bujan, and empiang.
          What's unique is that the otak-otak here is also accompanied by
          various sauces ready to be dipped into. There's dipping sauce made of
          fermented shrimp paste, fermented soybeans, and various spicy sauces,
          all made manually.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images//foods/bujan1.png"
          alt="bujan.png"
        />

        <h3 class="text-right text-h3">Bujan</h3>
        <p class="text-home">
          Fried taro is a snack that is commonly found in several regions of
          Indonesia.This snack is called "bujan" in Bangka. Typically, uyen is
          served with liquid vinegar chili sauce. However, the Bangka-style
          bujan can also be served with tauco chili sauce. The key to the
          deliciousness of making fried taro lies in the mixture of fried
          peanuts.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/empiang.png"
          alt="empiang.png"
        />
        <h3 class="text-left text-h3">Empiang</h3>

        <p class="text-home">
          Fried taro is a snack that is commonly found in several regions of
          Indonesia.This snack is called "bujan" in Bangka. Typically, uyen is
          served with liquid vinegar chili sauce. However, the Bangka-style
          bujan can also be served with tauco chili sauce. The key to the
          deliciousness of making fried taro lies in the mixture of fried
          peanuts.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
