<%- include("../partials/header"); -%>
<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div class="container-fluid">
        <h2 class="text-h2" id="others_snacks">Others Foods</h2>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/jemputCempedak.jpg"
          alt="jemputCempedak.jpg"
        />

        <h3 class="text-left text-h3">Jemput Cempedak</h3>

        <p class="text-home">
          Jumput Cempedak is a sweet fried snack shaped like clusters, fried in
          plenty of oil. This cake is made from the base ingredient of Cempedak
          fruit. Enjoying Jumput Cempedak knows no time boundaries as it can be
          savored anytime. Jumput Cempedak remains delicious whether eaten cold
          or warm. This food is even more enjoyable when paired with hot coffee
          or tea. This culinary delight falls into the category of seasonal
          cakes, so anticipating its arrival is part of the sensation of
          enjoying it.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/Rintak.png"
          alt="Rintak.png"
        />

        <h3 class="text-right text-h3">Rintak</h3>
        <p class="text-home">
          "Rintak" is a typical snack from Bangka, belonging to the category of
          dry cakes. The flavor of rintak is almost similar to sago cakes. The
          sensation of hardness when bitten but melting and soft once it's in
          the mouth will make friends fall in love since the first bite.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/Sambal-Lingkung.png"
          alt="Sambal-Lingkung.png"
        />

        <h3 class="text-left text-h3">Sambal-Lingkung</h3>
        <p class="text-home">
          "Sambal lingkung" is one of the typical foods from Bangka Belitung
          that Moms can bring home as a souvenir. Its shape and texture are
          similar to shredded meat, but it is made from various fish such as
          small sharks, mackerel, mackerel tuna, or milkfish. These fish are
          steamed or boiled and then mashed. Then sautéed with various spices.
          "Sambal lingkung" can be served as a side dish for hot rice or used as
          filling for lemper (sticky rice rolls) and bread.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/belacan.png"
          alt="belacan.png"
        />

        <h3 class="text-right text-h3">Belacan</h3>
        <p class="text-home">
          Belacan is a typical food from Bangka Belitung that has a unique aroma
          and flavor because it is made from fermented marine products. Belacan
          is a kitchen seasoning made from ground shrimp that is then fermented.
          The process of making it is quite simple. Dried shrimp is ground and
          mixed with salt before being wrapped in banana leaves, then left to
          dry for several days.Belacan is one of the main ingredients for making
          sambal and can also be used as a seasoning in cooking.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/lempuk.jpg"
          alt="Lempuk"
        />

        <h3 class="text-left text-h3">Lempuk</h3>
        <p class="text-home">
          Lempok Cempedak is a unique snack that is always sought after by
          tourists.Lempok cempedak is also one of the typical souvenirs of
          Bangka Belitung that is available depending on the season, because the
          cempedak season usually occurs from October to December every year.
          The texture of lempok cempedak is similar to dodol. Its sweet taste,
          with the distinctive scent of cempedak.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
