<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2" id="seafood">Seafood</h2>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/Siput-Gonggong.png"
          alt="Siput-Gonggong.png"
        />

        <h3 class="text-left text-h3">Siput Gonggongk</h3>

        <p class="text-home">
          "Gonggong snails" are another recommended specialty from Bangka
          Belitung for Blibli Friends. These snails are indeed one of the
          distinctive icons of Bangka Belitung. The way to cook gonggong snails
          is very simple, just by boiling them. However, the deliciousness of
          gonggong snails is unquestionable.
        </p>
        <p class="text-home">
          Besides boiling, gonggong snails can also be fried. So, Blibli Friends
          can choose how to prepare gonggong snails according to your taste
          preferences. Gonggong snails are best enjoyed with spicy sambal,
          making them even more delicious to eat.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/ketam.png"
          alt="ketam.png"
        />

        <h3 class="text-right text-h3">Ketam</h3>
        <p class="text-home">
          "Stuffed crab" is made from processed crab meat cooked with secret
          spices, then the crab meat mixture is filled back into the shell and
          fried. Because it is made from pure crab meat without any mixture, the
          taste of stuffed crab is very savory and delicious.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/cumi.png"
          alt="cumi.png"
        />

        <h3 class="text-left text-h3">Squid</h3>
        <p class="text-home">
          This is the quintessential Bangka Belitung yellow grilled squid, a
          beloved staple in daily meals across the region. Infused with the
          aromatic flavors of local spices and grilled to perfection, it boasts
          a savory taste and a tender texture that captivates the palate. Its
          irresistible appeal is undeniable, making it a favorite among those
          who savor its deliciousness."
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/ikan_ayam.png"
          alt="ikan_ayam.png"
        />

        <h3 class="text-right text-h3">Jebung Fish</h3>
        <p class="text-home">
          "Ikan jebung" is the local name for milkfish. Interestingly, the fish
          is grilled plain, without any seasoning or sauce. So, if it's your
          first time trying it, don't complain if your grilled fish tastes
          bland. The way to eat it is by dipping it in the provided sauce.
        </p>
        <p class="text-home">
          The deliciousness of this dish lies in the perfect blend of typical
          Bangka spices and tender fish. Lemongrass and kaffir lime leaves
          provide a fresh aroma, while brown sugar adds a unique sweet touch..
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
