<%- include("../partials/header"); -%>
<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div class="container-fluid">
        <h2 class="text-h2" id="Snacks">Snacks</h2>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/kerupuk.png"
          alt="Kerupuk"
        />

        <h3 class="text-left text-h3">Kerupuk Cumi</h3>

        <p class="text-home">
          Squid crackers are made from selected squid meat, resulting in
          crackers that are savory and delicious. Its crispy texture is
          distinctly felt with every bite. Perfect as a companion for your
          lunchtime meal.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/kempelang.png"
          alt="Kempelang"
        />
        <h3 class="text-right text-h3">Kempelang</h3>
        <p class="text-home">
          Round-flat-shaped kemplang with a savory and crispy taste when bitten.
          When enjoying it, kemplang is usually paired with the typical Bangka
          shrimp paste chili sauce, enhancing the variety of its taste.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/getas.png"
          alt="getas.png"
        />

        <h3 class="text-left text-h3">Getas</h3>
        <p class="text-home">
          "Kerupuk getas" is a delicacy crafted by the community of Bangka
          Belitung island. Made from mackerel fish, "getas" or "kretek" has a
          savory flavor when consumed. This snack pairs perfectly with rice or
          soupy dishes. Getas can also be enjoyed with vinegar, commonly served
          with empek-empek.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/Kricu.png"
          alt="Kricu"
        />

        <h3 class="text-right text-h3">Kricu</h3>
        <p class="text-home">
          This particular specialty from Bangka Belitung may look like cheese
          sticks at first glance. However, this snack is made from squid eggs,
          sago, chicken eggs, salt, and seasoning. Its savory and crispy taste
          will make you addicted to finishing it. This food is also perfect as a
          typical souvenir from Bangka
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/siputgonggongsnacks.jpg"
          alt="siputgonggongsnacks"
        />

        <h3 class="text-left text-h3">Siput Gunggung</h3>
        <p class="text-home">
          "siput gunggung" is one of the sea products of Bangka Island that is
          made into souvenirs from the Bangka Islands. "Siput gunggung" is a
          light snack made from fresh snail meat with a unique taste. The
          sensation obtained from this culinary delight is experienced when
          picking up the snail meat using a stick to enjoy this snack. "Siput
          gunggung" is a must-try because its deliciousness is unmatched.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
