<%- include("../partials/header"); -%>
<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2" id="uniquefood">Uniquefood</h2>
        <p class="text-home">
          Typically, Bangka Belitung's signature dishes are dominated by seafood
          dishes infused with Malay and Chinese flavors. If you enjoy the savory
          taste of seafood and spices, it's a must to taste the signature dishes
          of Bangka Belitung when visiting there.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/lempah_darat.png"
          alt="Lempah darat"
        />

        <h3 class="text-left text-h3">Lempah Darat</h3>

        <p class="text-home">
          It can be said that "lempah darat" is a type of vegetable soup. The
          broth has a very fresh taste, perfect to enjoy with a plate of warm
          rice and fried fish. "Lempah darat" is not only a typical food for the
          people of Bangka Island, but also for the people of Belitung Island.
          The people of Bangka Belitung often enjoy this dish accompanied by
          salted fish and grilled fish. The unique and spicy flavor of the
          lempah darat broth will further enhance the enjoyment.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/Lempah-Kuning-Bangka.png"
          alt="Lempah kuning"
        />

        <h3 class="text-right text-h3">Lempah Kuning</h3>
        <p class="text-home">
          "Lempah kuning" is a typical dish from Bangka Island made from fresh
          fish combined with various spices, such as turmeric, galangal, onions,
          bird's eye chilies, shrimp paste, and pieces of pineapple. The fish
          along with the spices are then cooked until boiling
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/foods/Kecalo.png"
          alt="Kecalo.png"
        />

        <h3 class="text-left text-h3">Kecalo</h3>
        <p class="text-home">
          Another popular specialty from Bangka Belitung is "kecalo." Kecalo is
          the result of fermenting small shrimp with salt, resulting in a salty
          taste. Kecalo from Bangka Belitung is known as the tastiest shrimp
          paste and is often used as an ingredient when making sambal and other
          seasonings. In Bangka Belitung eateries, kecalo is commonly served as
          a side dish for fresh vegetables or as a dipping sauce.
        </p>
      </div>
    </div>

    <div class="col">
      <div>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/foods/Rusip.png"
          alt="Rusip.png"
        />

        <h3 class="text-right text-h3">Rusip</h3>
        <p class="text-home">
          rusip can be consumed directly without needing to be cooked again.
          Quoted from the website bangkatengahkab.go.id, it explains that this
          typical food from Bangka Belitung is made from fermented fish and used
          as a condiment for cassava leaves, cucumber, and so on. Rusip is made
          from fermented anchovies using salt, palm sugar water, and rice crust
          water.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
