<%- include("../partials/header.ejs");-%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Batu Dinding Beach in Belinyu, Bangka Belitung</h2>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/pantaidindingbatu-rev1.jpg"
          alt="Batu Dinding"
        />

        <p class="text-home">
          Batu Dinding Beach is situated in Mantung Village, Belinyu District,
          Bangka Regency. It is approximately 3 km from Port Belinyu. Batu
          Dinding Beach location is practically next to Port Mantung which is
          owned by PT Timah, a government owned tin mining company, and not far
          from Port Tanjung Gudang in Belinyu. Not many people know about the
          existence of this Batu Dinding Beach because in addition to its
          location which is somewhat hidden, there isn’t any sign directing to
          the location of Batu Dinding Beach.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/pantaidindingbatu2.jpg"
          alt="pantaidindingbatu2"
        />
        <p class="text-home">
          Batu Dinding means Wall Stone in English. From the name alone it can
          be seen that this beach must have certain uniqueness. Indeed, on this
          beach there is a large granite stone, which stands upright on other
          stones. This is the reason why it is called Batu Dinding or wall stone
          beach. This stone has a size of about 20x15 meters with a thickness of
          approximately 5 meters. In addition to the stone or rock wall, right
          in front of it there is a stone called Batu Pari or stingray stone
          which has the shape like a stingray with a long tail.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/pantaidindingbatu3.jpg"
          alt="pantaidindingbatu3"
        />
        <p class="text-home">
          Not only has stones with unique forms, this beach also has a
          pleasantly cool atmosphere. Many coconut trees that grow around the
          beach adds to its scenic beauty. There are tin miners ships in the
          waters around the beach which is another sight that can be enjoyed by
          visitors. Besides to the left of the beach there is a pier where
          fishermen anchored their vessels. Indeed, it is a very beautiful
          scenery.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/pantaidindingbatu5.jpg"
          alt="pantaidindingbatu5"
        />
        <p class="text-home">
          Batu Dinding Beach area is not extensive only around the giant stones.
          Meanwhile, there is a hill directly facing the sea. Unlike most
          beaches in Indonesia Batu Dinding is not a white sandy beach due to
          the contours of the coast which is rocky and steep. In fact, the main
          attraction is the giant rock that resembles a wall. Visitors can not
          swim or bathe because the water under is muddy. Visitors often climb
          to the base of the giant stone, but you can not climb to the top
          because of its position which is perpendicular and no stepping place
          whatsoever.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/pantaidindingbatu4.jpg"
          alt="pantaidindingbatu4"
        />
        <p class="text-home">
          On top of the hill there is a small villa that can be used to relax.
          From here you can enjoy the beauty of a vast ocean This place is often
          used by couples to take pre-wed pictures. To get to Batu Dinding is a
          small adventure because the small road is not paved, and also passes
          through a village. You alsoneed to ask a lot of people around due to
          the absence of sign boards or directions. It is advisable to use the
          service of a guide or come with a friend who is already familiar with
          the area around Belinyu. Visitors vehicles can be parked at the end of
          the unpaved road near Batu Dinding Villa.
        </p>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/pantaidindingbatu6-rev.jpg"
          alt="pantaidindingbatu6"
        />
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
