<%- include("../partials/header"); -%>
<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Batu Berlayar Island.</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/batuberlayar.jpg"
                alt="batuberlayar"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/batuberlayar2.jpg"
                alt="batuberlayar2"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/batuberlayar3.jpg"
                alt="batuberlayar3"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/batuberlayar4.jpg"
                alt="batuberlayar4"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/batuberlayar5.jpg"
                alt="batuberlayar5"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/batuberlayar6.jpg"
                alt="batuberlayar6"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/batuberlayar7.jpg"
                alt="batuberlayar7"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          The expanse of blue sea in the waters of Belitung often delights the
          eyes and makes visitors reluctant to return home. Granite rocks can be
          seen lying stiffly, adorning the middle of the sea and along the
          shores of white sandy beaches.
        </p>
        <h3 class="text-h3">Attractions of Batu Berlayar Island:</h3>
        <p class="text-home">
          There is one last island that serves as the finale before returning to
          the starting point at Tanjung Kelayang Beach, namely Pulau Batu
          Berlayar that this small rocky island can only be visited when the
          tide is low. Typically, tourists visit Pulau Batu Berlayar in the late
          afternoon.
        </p>

        <p class="text-home">
          One of the hundreds of islands in the province of Bangka Belitung has
          a high exotic value. Kompas.com's observation showed that the white
          sand along the coastline is still visible, and the mesmerizing blue
          sea water adds to the exotic impression of this island.
        </p>
        <p class="text-home">
          It's called Batu Berlayar because the rocks stand as if they are going
          to spread sails. From Pulau Pasir or Pulau Kepayang, Pulau Batu
          Berlayar can be reached in about 10 minutes. The close proximity of
          the locations is advantageous for visiting the islands sequentially.
          From the boat, the towering granite rocks typical of Belitung can
          already be seen from a distance. These two standing rocks are
          approximately 10 meters high.
        </p>
        <p class="text-home">
          When nearing Pulau Batu Berlayar, several tourists can be seen taking
          photos in front of the granite rocks. These tourists appear like
          specks or dots on the rocks. At Pulau Berlayar, when the boat docks,
          the clear water around the island allows for viewing the not-so-deep
          seabed. Occasionally, agile swimming fish or transparent jellyfish can
          be seen. It doesn't take long to circumnavigate Pulau Batu Berlayar.
          In less than five minutes, Pulau Batu Berlayar can be reached and
          explored. Like on other islands in the waters of Belitung, the
          activities that can be done here mainly involve taking photos. There's
          a saying that when in Belitung, there's no shortage of photo spots
          with granite rocks in the background.
        </p>

        <p class="text-home">
          Departing from Tanjung Kelayang, in a day, tourists can visit several
          islands such as Pulau Batu Garuda, Pulau Batu Berlayar, Pulau Pasir,
          Pulau Lengkuas, and Pulau Babi or Pulau Kepayang. Tourists can
          determine their own travel route, but usually, the boat guides will
          suggest visiting the nearest islands first, starting with Batu Garuda.
        </p>

        <h3 class="text-h3">Directions to Batu Berlayar Island:</h3>
        <ul>
          <li><h5 class="text-h5">By Sea Travel:</h5></li>
          <p class="text-home">
            If you go during other months, the waves will be bigger and the
            winds stronger. To get to Pulau Lengkuas, you can rent a boat from
            the Tanjung Kelayang Beach pier with prices ranging from Rp 350,000
            to Rp 500,000. The journey to this island will take about 30
            minutes.
          </p>
        </ul>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
