<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Burong Island</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/burong.jpg"
                alt="burong"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/burong1.jpg"
                alt="burong1"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/burong2.jpg"
                alt="burong2"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/burong3.jpg"
                alt="burong3"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/burong4.jpg"
                alt="burong4"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/burong5.jpg"
                alt="burong5"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/burong7.jpg"
                alt="burong6"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          Another must-visit destination in Belitung is the famous Bird Island.
          It's called Bird Island because its granite rock structures soar high
          and resemble the head of a bird. With its tranquil beach atmosphere,
          clear blue sea, and captivating white sandy beaches, Bird Island is an
          Instagram-worthy spot for photo hunting!
        </p>
        <p class="text-home">
          Bird Island (Pulau Burung) is located on the northern coast of
          Belitung in the fishing village of Tanjung Binga. The island covers an
          area of approximately 2 hectares, surrounded by white sand and
          scattered granite rocks on the beach and in the sea around the island.
          It's a place worth spending time to enjoy the peaceful beach
          atmosphere away from the hustle and bustle.
        </p>

        <h3 class="text-h3">Attractions of Bird Island:</h3>
        <ul>
          <li>
            <h5 class="text-h5">Large bird-shaped rock formations</h5>
          </li>
          <li>
            <h5 class="text-h5">
              White sandy beaches in calm and shallow bays
            </h5>
          </li>
          <li>
            <h5 class="text-h5">Snorkeling offshore</h5>
          </li>
          <li>
            <h5 class="text-h5">
              Unique granite rock formation called "Batu Bercinte" (Lover's
              Rock)
            </h5>
          </li>
        </ul>

        <p class="text-home">
          The best time to visit Bird Island is in the late afternoon,
          especially if you want to take beautiful photos with the famous
          bird-shaped rock in the background. In the evening, the sun will set
          in front of you with the bird rock in the background. The journey to
          Bird Island takes 30 minutes from Tanjung Kelayang Beach or 15 minutes
          from the Tanjung Binga fishing village. Trips to Bird Island are
          usually combined with visits to Lengkuas Island.
        </p>
        <h3 class="text-h3">Activities on Bird Island:</h3>
        <ul>
          <li><h5 class="text-h5">Swimming</h5></li>
          <li>
            <h5 class="text-h5">Photography hunting</h5>
          </li>
          <li><h5 class="text-h5">Beachcombing</h5></li>
          <li><h5 class="text-h5">Snorkeling over coral reefs</h5></li>
        </ul>
        <p class="text-home">
          What's unique about Bird Island is the pile of large granite rocks on
          the southeast side of the beach, which have a unique shape resembling
          a bird's head. According to local residents, the island's name
          "Burong" is derived from these rocks. "Burong" is the Belitung
          language for "bird."
        </p>
        <p class="text-home">
          The bird-shaped rock has become one of the iconic granite formations
          in Belitung. Its size is approximately equivalent to a three-story
          building, with a unique formation. It seems that the rock was once
          split, and some parts appear tilted, perhaps due to coastal abrasion.
          When you visit Belitung, don't miss the chance to stop by Bird Island
          to take photos with the unique background of this bird-shaped rock.
          Almost every visitor takes the opportunity to take photos with this
          unique background.
        </p>
        <h3 class="text-h3">Facilities on Bird Island:</h3>

        <p class="text-home">
          There are several bungalows under coconut trees on the island where
          you can rest. For those who love adventure, walking around the island
          to admire the unique views and shapes of the scattered granite rocks
          will be a memorable experience during your time on Bird Island.
        </p>
        <h3 class="text-h3">Access to Bird Island:</h3>

        <p class="text-home">
          If you want to enjoy a secluded beach that is rarely touched by
          tourists, take the time to walk along the south beach to the west side
          of the island. The journey may be a bit challenging due to obstacles
          such as bushes, trees, and rocks on the beach. The journey takes about
          10-15 minutes.
        </p>
        <p class="text-home">
          Once you reach the west side of the island, you'll find another
          artistic beach, with a calm bay and cool granite rock decorations.
          This place is very secluded, with only a small forest on the land
          side.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
