<%- include("../partials/header"); -%>
<section class="lightblue-section" id="parai">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Pesona Wisata Diving BMKT Di Belitung Timur.</h2>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/divingbelitung.jpg"
          alt="divingbelitung"
        />

        <p class="text-home">
          Eastern Belitung - BMKT or Cargo Shipwreck Goods are valuable items
          with historical, cultural, scientific, and economic value that have
          sunk in the waters of Indonesia, Indonesia's exclusive economic zone,
          and Indonesia's continental shelf, with a minimum age of 50 (fifty)
          years.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/divingbelitung2.jpg"
          alt="divingbelitung2"
        />
        <p class="text-home">
          Eastern Belitung, which was part of the ancient Spice Trade Route, has
          the potential for Diving Tourism based on Cultural Heritage BMKT or
          Sunken Cargo Shipwrecks, whether they are remnants of Shipwrecks or
          other historical artifacts. This can be seen in the Maritime Gallery
          of Eastern Belitung, which displays a collection of BMKT findings from
          the waters of Eastern Belitung. This is also what makes Eastern
          Belitung designated as the center of the ancient Spice Trade Route in
          Bangka Belitung, which is why the Exploration of the Charms of the
          Eastern Belitung Spice Route Event was designated as a National event
          by the Ministry of Tourism and Creative Economy of the Republic of
          Indonesia.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/divingbelitung3.jpg"
          alt="divingbelitung3"
        />
        <p class="text-home">
          According to data from the Center for Marine Research, the Maritime
          Human Resources Research Agency, Ministry of Marine Affairs and
          Fisheries, through the Maritime Archaeology Survey of Eastern Belitung
          in 2016, East Belitung Regency has several potential sites to be
          developed as Diving Tourism sites.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/divingbelitung4.jpg"
          alt="divingbelitung4"
        />
        <p class="text-home">
          The first site is the Memperak Pekandis Site, where archaeological
          remnants in the form of ship structures are visible but mostly covered
          by seabed sediment, and fragments of ceramics, bowls, and Gucci
          estimated to be from the Yuan Dynasty (1271 - 1368) and also scattered
          small and large-sized Gucci jars, fragments of large and small
          pottery, along with black-colored shipwood, estimated to be from the
          Tang Dynasty (618 - 906).
        </p>
        <p class="text-home">
          Then there are the Berlian Site and the VOC Ship Site of Kelapa
          Kampit, which have identified traces of ship structures such as iron
          and wood. Some artifacts are mostly buried in seabed sediment and
          covered by coral reefs.
        </p>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/divingbelitung5.jpg"
          alt="divingbelitung5"
        />
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
