<%- include("../partials/header"); -%>
<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Koalin Lake.</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/koalin8.jpg"
                alt="koalin8"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/koalin2.jpg"
                alt="koalin2"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/koalin9.jpg"
                alt="koalin3"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/koalin4.jpg"
                alt="koalin4"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/koalin10.jpg"
                alt="koalin5"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/koalin6.jpg"
                alt="koalin6"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/koalin11.jpg"
                alt="koalin7"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          Danau Kaolin, located in Desa Nibung, Kecamatan Koba, Kabupaten Bangka
          Tengah, Bangka Belitung Province, is one of the former mining sites
          that has become a tourist attraction. This prominent tourist
          destination in Central Bangka attracts both domestic and international
          tourists.
        </p>
        <h3 class="text-h3">Attractions of Danau Kaolin:</h3>
        <p class="text-home">
          Danau Kaolin originated from the abandoned tin mining pits. It is
          often referred to as "Kulong Biru." Despite being a former tin mining
          area, Danau Kaolin boasts fresh air without the sulfuric aroma
          typically associated with mountain craters. The uniqueness of Danau
          Kaolin lies in its distinctive scenery compared to other lakes
        </p>

        <p class="text-home">
          Upon arriving at the lake area, visitors will be greeted with the
          breathtaking beauty of the blue and clear water and white hills.
          Visitors can explore pedestrian paths or wooden bridges connected to
          Danau Kaolin, providing a unique sensation. The contrasting scenery of
          clear blue-green water with white sandy hills surrounding the Danau
          Kaolin area is remarkable. Additionally, the color of the water
          changes according to the temperature and sunlight, providing
          picturesque views that can be captured with loved ones from every
          corner of Danau Kaolin.
        </p>

        <p class="text-home">
          The panorama of Danau Kaolin attracts both domestic and international
          tourists, earning it a nomination for the Most Popular Unique
          Destination at the Anugerah Pesona Indonesia 2019 (Indonesia's
          Charming Awards)
        </p>

        <h3 class="text-h3">A Route to Danau Kaolin:</h3>
        <p class="text-home">
          Danau Kaolin is approximately 60 km from Depati Amir Airport and about
          15 km from the capital of Kabupaten Bangka Tengah. The travel time to
          Danau Kaolin from Pangkal Pinang City is approximately 60 minutes.
          Travelers can reach Danau Kaolin by private vehicle, online motorcycle
          taxis, or Damri Bus from the airport. The accessibility to Danau
          Kaolin ensures that tourists can visit the lake at any time.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
