<%- include("../partials/header"); -%>
<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Lengkuas Island.</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/lengkuas.jpg"
                alt="lengkuas"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/lengkuas8.jpg"
                alt="lengkuas2"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/lengkuas3.jpg"
                alt="lengkuas3"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/lengkuas4.jpg"
                alt="lengkuas4"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/lengkuas5.jpg"
                alt="lengkuas5"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/lengkuas6.jpg"
                alt="lengkuas6"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/lengkuas7.jpg"
                alt="lengkuas7"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          With a total area of less than 1 hectare, Lengkuas is located within
          the Sijuk sub-district, Belitung Regency. While it may be small in
          size nevertheless it offers a wide range of splendors. This humble
          little island offers idyllic landscape, lush palm trees and staggering
          boulders that are great fun to climb on or swim beneath. Lengkuas
          Island is blessed with a pristine beach, turquoise blue waters and
          distinct huge granite boulders, the icon of Belitung beaches, located
          north of Tanjung Binga Village in Belitung. Adding to the splendor is
          the existence of a hundred years’ old Lighthouse which offers complete
          fascinating views of the island and its surroundings.
        </p>
        <h3 class="text-h3">Attractions of Tanjung Kelayang Beach:</h3>
        <p class="text-home">
          Upon setting foot on this island to the east of Belitung Island, you
          will see a lighthouse standing tall at about 50 meters. This
          lighthouse has been standing since 1882 and is rich in history. Tour
          guide Eksa said that the lighthouse, built during the colonial era of
          the Dutch, has 18 floors. Unfortunately, visitors have not been
          allowed to climb the lighthouse since 2017. "Due to the amount of dirt
          or trash brought by visitors," said Eksa. Although not having the
          opportunity to gaze upon Belitung from the top of the lighthouse, you
          can still be amazed by the surrounding nature of Pulau Lengkuas.
        </p>

        <p class="text-home">
          One of the hundreds of islands in the province of Bangka Belitung has
          a high exotic value. It showed that the white sand along the coastline
          is still visible, and the mesmerizing blue sea water adds to the
          exotic impression of this island.
        </p>
        <p class="text-home">
          Not to forget, you can see granite rocks larger than houses lined up
          on the beach. According to Eksa, those rocks were not as big as they
          are now in the past. The rocks that appear large now are the result of
          sand that has gradually decreased over time, causing the rocks located
          underneath to emerge to the surface. "So underneath (the sand) it's
          likely even bigger, so this is like just the finger sticking out, not
          the whole hand," he said.
        </p>
        <p class="text-home">
          There's no need to worry, the facilities on Pulau Lengkuas are quite
          complete. There are inexpensive hotels, eateries, and public toilets
          available. If you visit Pulau Lengkuas, the spots not to be missed are
          fishing and snorkeling.
        </p>

        <p class="text-home">
          There's no need to worry, the facilities on Pulau Lengkuas are quite
          complete. There are inexpensive hotels, eateries, and public toilets
          available. If you visit Pulau Lengkuas, the spots not to be missed are
          fishing and snorkeling.The fish there are so clearly visible because
          the water is still clear and unpolluted on this island.
        </p>

        <p class="text-home">
          Now, if you're interested in visiting Pulau Lengkuas, you can enjoy
          the natural beauty and see this Dutch-era lighthouse at its best from
          March to November when the water is relatively calm.
        </p>
        <h3 class="text-h3">Directions to Tanjung Kelayang Beach:</h3>
        <ul>
          <li><h5 class="text-h5">By Sea Travel:</h5></li>
          <p class="text-home">
            If you go during other months, the waves will be bigger and the
            winds stronger. To get to Pulau Lengkuas, you can rent a boat from
            the Tanjung Kelayang Beach pier with prices ranging from Rp 350,000
            to Rp 500,000. The journey to this island will take about 30
            minutes.
          </p>
        </ul>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
