<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Matras Beach.</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/matras8.jpg"
                alt="matras8"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/matras10.jpg"
                alt="matras10"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/matras11.jpg"
                alt="matras11"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/matras12.jpg"
                alt="matras12"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/matras5.jpg"
                alt="matras5"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/matras6.jpg"
                alt="matras6"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/matras7.jpg"
                alt="matras7"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          Matras beach is a tourist destination located on Bangka Island, Bangka
          Belitung Province. This beach is situated in Sinar Baru Village,
          Sungailiat District. Pantai Matras is a popular destination visited by
          tourists, including locals, domestic tourists, and even international
          tourists.
        </p>
        <h3 class="text-h3">Attractions of Pantai Matras:</h3>
        <p class="text-home">
          Pantai Matras is renowned for its stunning beauty, featuring fine
          white sand with a gentle slope. The beach stretches for three
          kilometers with a width of 20 to 30 meters. The picturesque view is
          enhanced by coconut trees and a clear river flowing nearby. The soft
          white sand and gravel rocks add to its charm, resembling a pearl in
          front of visitors.
        </p>

        <p class="text-home">
          Divided into two parts, the southern and northern sections offer
          distinct experiences. In the southern part, visitors are treated to an
          endless stretch of beach. Pantai Matras is the longest beach on Bangka
          Island. At the southern end, there are typical granite rocks of Bangka
          Island. In the evenings, visitors can enjoy the ambiance of sailing
          ships while indulging in local delicacies like fried sweet potato with
          cheese, red pumpkin compote, and fried banana with cheese available at
          nearby restaurants.
        </p>

        <p class="text-home">
          Due to its beauty, Pantai Matras is often dubbed as a paradise beach.
          Additionally, it's also known as a public beach because of its easily
          accessible location and affordable ticket prices. Freshwater
          facilities are also provided for visitors to rinse off after swimming.
        </p>
        <h3 class="text-h3">Ticket Prices:</h3>
        <p class="text-home">
          The entrance fee to Pantai Matras is Rp 5,000 per person. For those
          wishing to stay longer, there are various accommodations available to
          suit different preferences.
        </p>
        <h3 class="text-h3">Access to Pantai Matras:</h3>
        <p class="text-home">
          Pantai Matras is approximately seven kilometers from Sungailiat City
          and around 40 kilometers from Pangkal Pinang City. It can be reached
          by various rental vehicles from Depati Amir Airport in Pangkal Pinang.
          For those using public transportation, there are similar vehicles
          called colts available from Pangkal Pinang to Pantai Matras.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
