<%- include("../partials/header"); -%>
<section class="lightblue-section" id="parai">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Exploring Parai Tenggiri Beach</h2>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/parai_tenggiri.png"
          alt="Parai Tenggiri"
        />

        <p class="text-home">
          Parai Tenggiri Beach is located right next to Matras Beach, situated
          in Sungailiat, Bangka, in the Bangka Belitung Islands. Similar to the
          renowned beauty of Matras Beach, Parai Tenggiri Beach also offers its
          own charm.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/parai2.jpg"
          alt="parai2"
        />
        <p class="text-home">
          In addition to the gradient of blue hues in the sea, visitors can also
          enjoy the beauty of white sand and large rocks that adorn it. The
          sound of waves can be heard as soon as you enter the area of Parai
          Beach Hotel and Resort. Yes, this beach is located within the resort
          area.Parai Tenggiri Beach is a private beach. But people can visit
          there by paying a fee of Rp 25,000 per person
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/parai3.png"
          alt="Parai3"
        />
        <p class="text-home">
          The beauty of the beach can be enjoyed while strolling along a small
          path lined with lush coconut trees. A protruding bridge spans the land
          where the accommodation is located, leading tourists to an island
          named Rock Island. While standing in the middle of this wooden bridge,
          there's a contrast in the scenery offered on the right and left sides
          of the bridge. Looking to the right, Parai Tenggiri Beach appears
          serene with fewer rocks. The white sand stands out in contrast to the
          light blue sea. While on the left side of the bridge, the white sand
          is adorned with hundreds of small and large rocks, making the deep
          blue sea look equally impressive.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/parai4.png"
          alt="parai4"
        />
        <p class="text-home">
          Next, Parai Tenggiri Beach is famous for its water sports. Snorkeling
          and fishing become two primary activities there. If you have some
          skills, you are able to dive into the sea. The nautical beauty won’t
          fail to amaze you. No worries. You can rent diving equipment easily.
          Not to mention there are some local boats to rent. Some guides even
          offer their service to tourists. Apart from those activities, you can
          enjoy other fun things like parasailing and jet skiing.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/parai5.jpg"
          alt="parai5"
        />
        <P class="text-home">
          Once you enjoy those water sports, it is time to relax. Parai Tenggiri
          Beach features excellent accommodations and facilities. In Parai Beach
          Resort, you can enjoy its amenities. These include a swimming pool,
          café, bar, restaurant, etc. Make sure you carry much money, though.
          Another activity is shopping. In this case, your destination is Sungai
          Liat City. There are several souvenir vendors there. Don’t forget to
          buy local snacks such as Kemplang, Belacan, and much more!</P
        >

        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/parai6.jpg"
          alt="parai6"
        />
        <h3 class="text-h3">Nearby Attractions</h3>
        <ul>
          <li><h5 class="text-h5">Tikus Emas Beach</h5></li>
          <li><h5 class="text-h5">Teluk Uber Beach</h5></li>
          <li><h5 class="text-h5">Pasir Padi Beach</h5></li>
          <li><h5 class="text-h5">Tongaci Beach</h5></li>
          <li><h5 class="text-h5">Fathin Hill</h5></li>
        </ul>

        <h3 class="text-h3">How to Get There</h3>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/parai7.png"
          alt="parai7"
        />
        <p class="text-home">
          If you come from Belitung Island, make sure to reach Pangkal Pinang
          City first. From here, you can directly head to Sungai Liat District.
          The trip takes about an hour. The distance is 34 km. Parai Tenggiri
          Beach is situated in Sinar Baru Village. That means you need to reach
          such settlement.
        </p>
        <h3 class="text-h3">Where to Stay</h3>
        <ul>
          <li><h5 class="text-h5">Mustika Hotel</h5></li>
          <li><h5 class="text-h5">Citra Hotel</h5></li>
          <li><h5 class="text-h5">City Garden Hotel</h5></li>
          <li><h5 class="text-h5">Parai Beach Hotel and Resort</h5></li>
          <li><h5 class="text-h5">Istana Pool Villas and Spa</h5></li>
        </ul>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
