<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div class="container-fluid">
        <h2 class="text-h2">Pasir Padi Beach</h2>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/pantai_pasir_padi.png"
          alt="pantai_pasir_padi"
        />

        <p class="text-home">
          Pasir Padi beach is located in the Temberan Village, approximately 8
          km from the center of Pangkalpinang City. It is considered a potential
          tourist destination in Pangkalpinang. Pasir Padi beach boasts a
          coastline with a stretch of white sand spanning 2 km. One of its
          unique features is its gently sloping beach structure and compact sand
          texture, making it comfortable for pedestrians and even motor vehicles
          like motorcycles, cars, and trucks
        </p>

        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/pasirpadi5.jpg"
          alt="pasirpadi5"
        />
        <p class="text-home">
          The beauty of Pasir Padi beach is not less attractive than other
          beaches in Bangka Island. Besides offering a panorama adorned by the
          blue sea, natural scenery, and interesting islands, not far from the
          shoreline lies a small landmass named Pulau Punai, which can be
          visited by foot during low tide.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/pasirpadi4.jpg"
          alt="pasirpadi4"
        />
        <p class="text-home">
          Pasir Padi beach is the most visited tourist destination, especially
          by the residents of Pangkalpinang and its surroundings. On holidays,
          the number of visitors can reach up to 6,000 people per day. Aside
          from enjoying the beautiful natural scenery of the beach, tourists can
          swim, fly kites, play beach volleyball, soccer, motocross, or simply
          enjoy the freshness of young coconut water amidst the sea breeze.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/pasirpadi6.jpg"
          alt="pasirpadi6"
        />
        <p class="text-home">
          Currently, Pasir Padi beach tourism area provides supporting
          facilities such as resort hotels, restaurants, souvenir shops,
          children's playgrounds, outbound and agility arenas, as well as water
          sports activities. Along the beach, there are seafood restaurants
          offering various dishes like fish, crabs, squid, clams, and more at
          relatively affordable prices. For the development of the city and
          tourism, the Pasir Padi beach area is planned to be developed into the
          Pasir Padi Waterfront City mega project or the largest new city on
          water in Southeast Asia
        </p>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/pasirpadi3.jpg"
          alt="pasirpadi3"
        />
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
