<%- include("../partials/header"); -%>
<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Penyusuk Beach.</h2>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/penyusuk8.jpg"
          alt="penyusuk8"
        />

        <p class="text-home">
          Penyusuk beach is one of the famous beaches known for its beauty and
          the serenity of its surroundings on Bangka Island.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/penyusuk2.jpg"
          alt="penyusuk2"
        />
        <p class="text-home">
          Penyusuk beach presents the typical natural beauty of the Bangka
          Belitung Islands with soft white sand and clear blue sea water. It has
          a curved coastline adorned with stretches of granite rocks around the
          beach, adding to the breathtaking beauty of the beach.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/penyusuk3.jpg"
          alt="penyusuk3"
        />
        <p class="text-home">
          The abundance of trees growing around the beach makes the beach
          atmosphere more lush and cool. The beach is located on the northern
          coast of Bangka Island, which is quite remote. It takes almost 50
          minutes of travel from Sungailiat area, the center of Bangka Regency,
          or about 2.5 hours of travel from Depati Amir Pangkal Pinang Airport.
          Akli, the Chairman of the Penyusuk Community Forest Group, said that
          in recent years, beach tourism has become one of the sources of
          livelihood for the community on Bangka Island.
        </p>

        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/penyusuk4.jpg"
          alt="penyusuk4"
        />
        <p class="text-home">
          From the beach, you can see the panoramic view of four islands clearly
          from the edge of Pantai Penyusuk. There are also fishing boat rentals
          on the beach ready to take visitors around the sea of Pantai Penyusuk.
          Pantai Penyusuk is located in the northern part of Bangka Island,
          precisely in Belinyu City.
        </p>

        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/penyusuk5.jpg"
          alt="penyusuk5"
        />
        <p class="text-home">
          This very beautiful beach features clear water views and large granite
          rocks on the edge of the beach. If lucky, visitors can see and rent
          some fishing boats docked on the beach. Visitors can also go around to
          see the beauty of the sea view by renting fishing boats. Unlike
          beaches on the west side of Bangka Island that face directly to the
          Natuna Sea, Pantai Penyusuk does not directly face the open sea.
          However, across from it, there are small islands visible from the edge
          of the beach. The waves on this beach are not so big, making the water
          seem calm.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/penyusuk7.jpg"
          alt="penyusuk7"
        />
        <p class="text-home">
          Visitors can play in the water and swim without worrying about waves.
          So many granite rocks on the edge of Pantai Penyusuk, we can play in
          the water and sometimes see small fish carried by the sea water during
          high tide, trapped between the granite rocks like being in small
          ponds. From the edge of Pantai Penyusuk, we can see a lighthouse on a
          small island in the middle of the sea. Locals commonly refer to it as
          Pulau Lampu (Lighthouse Island). This is because the lighthouse
          managed by the Ministry of Transportation lights up at night to signal
          passing ships. If we want to cross to Pulau Lampu and other small
          islands across Pantai Penyusuk, we can rent fishing boats that are
          moored on the edge of the beach.
        </p>

        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/penyusuk6.jpg"
          alt="penyusuk6"
        />
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
