<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Puri Tri Agung.</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/puritriagung8.jpg"
                alt="puritriagung8"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/puritriagung9.jpg"
                alt="puritriagung9"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/puritriagung3.jpg"
                alt="puritriagung3"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/puritriagung4.jpg"
                alt="puritriagung4"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/puritriagung5.jpg"
                alt="puritriagung5"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/puritriagung6.jpg"
                alt="puritriagung6"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/puritriagung7.jpg"
                alt="puritriagung7"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          For those of you who want to vacation in Bangka Regency, Bangka
          Belitung Islands, don't forget to visit Puri Tri Agung. This religious
          tourism destination is located in a cluster of hills facing directly
          towards the South China Sea. Puri Tri Agung, situated on the eastern
          route of Bangka, is approximately 20 kilometers from Pangkal Pinang
          City. The building is round in shape and almost 30 meters high. The
          spacious courtyard allows visitors to enjoy the beautiful scenery
        </p>

        <p class="text-home">
          Visitors can take selfies with the backdrop of the puri building,
          Buddha statues, and even the open sea. Since its opening in 2015,
          visitors to Puri Tri Agung have come from various parts of the
          country. The magnificence of Puri Tri Agung and the beauty of the
          surrounding nature can be enjoyed for free.
        </p>

        <p class="text-home">
          Puri Tri Agung symbolizes the three teachings of Tri Dharma,
          consisting of Confucianism, Buddhism, and Taoism. Followers of
          Confucian teachings can not only visit but also perform worship there.
          Visitors can also learn about Confucian teachings and history through
          notes and photos displayed on the walls of the puri. Currently, Puri
          Tri Agung has become one of the iconic tourist destinations in the
          region. So, what are you waiting for? Visit Puri Tri Agung and enjoy
          the beautiful beaches typical of Bangka Island.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
