<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Tanjung Kalian Beach</h2>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/tanjungkalian2.jpg"
          alt="tanjungkalian2"
        />

        <p class="text-home">
          The Dewi Laut Temple or Shen Mu Miau Temple is located in the Tanjung
          Bunga Beach area, precisely in the Bukit Intan District, Pangkalpinang
          City. The Dewi Laut Temple is not only a religious tourism destination
          but also a natural tourism destination. The temple's location is not
          only situated by the seaside but also facing directly towards the sea.
          At the end of the road, you can directly witness the vast expanse of
          the sea.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/tanjungkalian3.jpg"
          alt="tanjungkalian3"
        />
        <p class="text-home">
          Another attraction of the Dewi Laut Temple is the presence of the 12
          zodiac statues. These statues are also an icon and characteristic of
          this temple, which may not even be found in other temples. The zodiac
          signs include the rat, ox, tiger, rabbit, dragon, snake, horse, goat,
          monkey, rooster, dog, and pig.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/tanjungkalian4.jpg"
          alt="tanjungkalian4"
        />
        <p class="text-home">
          Not only has stones with unique forms, this beach also has a
          pleasantly cool atmosphere. Many coconut trees that grow around the
          beach adds to its scenic beauty. There are tin miners ships in the
          waters around the beach which is another sight that can be enjoyed by
          visitors. Besides to the left of the beach there is a pier where
          fishermen anchored their vessels. Indeed, it is a very beautiful
          scenery.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/tanjungkalian5.jpg"
          alt="tanjungkalian5"
        />
        <p class="text-home">
          Not only has stones with unique forms, this beach also has a
          pleasantly cool atmosphere. Many coconut trees that grow around the
          beach adds to its scenic beauty. There are tin miners ships in the
          waters around the beach which is another sight that can be enjoyed by
          visitors. Besides to the left of the beach there is a pier where
          fishermen anchored their vessels. Indeed, it is a very beautiful
          scenery.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-right"
          src="/images/places/tanjungkalian6.jpg"
          alt="tanjungkalian6"
        />
        <p class="text-home">
          Not only has stones with unique forms, this beach also has a
          pleasantly cool atmosphere. Many coconut trees that grow around the
          beach adds to its scenic beauty. There are tin miners ships in the
          waters around the beach which is another sight that can be enjoyed by
          visitors. Besides to the left of the beach there is a pier where
          fishermen anchored their vessels. Indeed, it is a very beautiful
          scenery.
        </p>
        <img
          class="bd-placeholder-img card-img-top image-left"
          src="/images/places/tanjungkalian8.jpg"
          alt="tanjungkalian8"
        />
        <p class="text-home">
          Not only has stones with unique forms, this beach also has a
          pleasantly cool atmosphere. Many coconut trees that grow around the
          beach adds to its scenic beauty. There are tin miners ships in the
          waters around the beach which is another sight that can be enjoyed by
          visitors. Besides to the left of the beach there is a pier where
          fishermen anchored their vessels. Indeed, it is a very beautiful
          scenery.
        </p>
        <img
          class="bd-placeholder-img card-img-top stroll-image-ext"
          src="/images/places/tanjungkalian7.jpg"
          alt="tanjungkalian7"
        />
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
