<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Tanjung Tinggi Beach.</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungtinggi.jpg"
                alt="tanjungtinggi"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungtinggi2.jpg"
                alt="tanjungtinggi2"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungtinggi3.jpg"
                alt="tanjungtinggi3"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungtinggi4.jpg"
                alt="tanjungtinggi4"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungtinggi5.jpg"
                alt="tanjungtinggi5"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungtinggi6.jpg"
                alt="tanjungtinggi6"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungtinggi7.jpg"
                alt="tanjungtinggi7"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          Tanjung Tinggi Beach is located in the village of Ciput, Sijuk
          District, Belitung Regency, Bangka Belitung Islands Province
        </p>
        <p class="text-home">
          Tanjung Tinggi Beach is a very popular beach on Belitung Island,
          especially since the release of the film "Laskar Pelangi" ("The
          Rainbow Troops").
        </p>
        <p class="text-home">
          This is because Tanjung Tinggi Beach was one of the filming locations
          for the movie.
        </p>
        <p class="text-home">
          The area, also known as "Laskar Pelangi Beach," is a place to spend
          New Year's Eve, and the beach is also bustling during Eid al-Fitr.
          Here are the attractions, ticket prices, and routes.
        </p>
        <h3 class="text-h3">Attractions of Tanjung Tinggi Beach:</h3>
        <p class="text-home">
          Tanjung Tinggi Beach offers incredibly stunning coastal views. It
          features a stretch of soft white sand and crystal-clear turquoise
          waters. The beach area also boasts giant granite rocks that are very
          iconic. Tanjung Tinggi Beach covers an area of approximately 80
          hectares, providing visitors with ample opportunity to explore the
          beach.
        </p>

        <p class="text-home">
          Almost every spot offers beautiful and different scenery. Visitors can
          engage in various activities at Tanjung Tinggi Beach, such as
          snorkeling, kayaking or canoeing, jet skiing, diving, taking photos
          among the granite rocks, and watching the sunset.
        </p>
        <p class="text-home">
          Visitors can also sit on the granite rocks scattered along the beach
          while admiring its beauty.
        </p>

        <h3 class="text-h3">Directions to Batu Berlayar Island:</h3>

        <p class="text-home">
          Tanjung Tinggi Beach is also supported by several tourist facilities,
          such as parking areas, eateries, accommodations, public restrooms, and
          water sports facilities. Accommodations around Tanjung Tinggi Beach
          are priced at approximately Rp 200,000 to Rp 500,000 per night
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
