<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Tanjung Kelayang Beach.</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/TanjungKelayang.png"
                alt="Tanjung Kelayang"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungkelian.png"
                alt="tanjungkelian"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungkelayang3.jpg"
                alt="tanjungkelayang3"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungkelayang4.jpg"
                alt="tanjungkelayang4"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungkelayang5.jpg"
                alt="tanjungkelayang5"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungkelayang6.jpg"
                alt="tanjungkelayang6"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tanjungkelayang7.jpg"
                alt="tanjungkelayang7"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          Tanjung Kelayang Beach is located in the Sijuk District, Belitung
          Regency, Bangka Belitung Islands Province. Tanjung Kelayang Beach
          offers a stunning natural landscape that encompasses both the ocean
          and the land. This tourist spot, often visited by tourists after
          touring the island, is perfect for family vacations.
        </p>
        <h3 class="text-h3">Attractions of Tanjung Kelayang Beach:</h3>
        <p class="text-home">
          Tanjung Kelayang Beach is a peninsula that juts out to the north. Its
          coastline stretches for 4 kilometers to Tanjung Tinggi Beach on the
          east side. The beach is spacious with fine sand, making it suitable
          for strolling or simply lying down to enjoy the gentle breeze. The sea
          water has a gradation of clear green near the shallow shoreline,
          gradually turning into dark blue. The waves are not too high, making
          it popular for swimming.
        </p>

        <p class="text-home">
          Another unique feature of Tanjung Kelayang Beach is that it appears
          wider when the tide recedes in the morning. The beach has a
          significant tidal range, with the water receding far from the shore.
          Like other beaches in Belitung, Tanjung Kelayang Beach is adorned with
          granite rocks at the tip of the cape. Brave visitors can climb these
          rocks to admire the panoramic view of Tanjung Kelayang. One of the
          famous rocks resembles the head of a bird, and it is said to be the
          origin of the name "Tanjung Kelayang." This uniqueness makes the
          granite rocks a favorite spot for photography. The name "Kelayang"
          refers to the local swiftlet bird commonly found around the beach.
        </p>

        <h4 class="text-h3">Directions to Tanjung Kelayang Beach:</h4>
        <ul>
          <li><h5 class="text-h5">By Land:</h5></li>
          <p class="text-home">
            Tanjung Kelayang Beach is approximately 27.5 kilometers from Tanjung
            Pandan, the capital of Belitung Regency, with a travel time of about
            37 minutes. The journey can be made via Air Saga Road and Tanjung
            Pandan-Tanjung Kelayang Road.
          </p>
          <li><h5 class="text-h5">By Air:</h5></li>
          <p class="text-home">
            Visitors from outside the city can fly to HAS Hanandjoeddin Airport
            in Tanjung Pandan. If having difficulty finding public
            transportation from the airport, visitors can rent a car or use
            travel services to explore Belitung Island.
          </p>
          <p class="text-home">
            Tanjung Kelayang Beach, with its breathtaking beauty and unique
            features, is indeed a must-visit destination for travelers exploring
            the wonders of Belitung.
          </p>
          <li><h5 class="text-h5">By Sea Travel:</h5></li>
          <p class="text-home">
            Another alternative transportation route is through sea travel,
            especially for visitors coming from Lampung City and around Jambi.
            The journey will pass through Boom Baru Port in Palembang City. From
            Pangkal Pinang, visitors can take a ferry from Balam Port to Tanjung
            Pandan Port in Belitung. Visitors from Jakarta can travel via
            Tanjung Priok Port to Tanjung Pandan.
          </p>
        </ul>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
