<%- include("../partials/header"); -%>

<section class="lightblue-section" id="features">
  <main class="container">
    <div class="row g-5">
      <div>
        <h2 class="text-h2">Tongaci Beach.</h2>
        <div id="image-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tongaci12.jpg"
                alt="tongaci12"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tongaci3.jpg"
                alt="tongaci3"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tongaci11.jpg"
                alt="tongaci11"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tongaci4.jpg"
                alt="tongaci4"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tongaci7.jpg"
                alt="tongaci7"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tongaci8.jpg"
                alt="tongaci8"
              />
            </div>
            <div class="carousel-item container-fluid">
              <img
                class="testimonial-image"
                src="/images/places/tongaci14.jpg"
                alt="tongaci14"
              />
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon btn-outline-primary">
              </span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#image-carousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon btn-outline-primary"
              ></span>
            </button>
          </div>
        </div>

        <p class="text-home">
          Tongaci beach is located in Jalan Laut, Kampung Laut, Sungai Liat,
          Bangka Regency, Bangka Belitung Islands Province. Pantai Tongaci is a
          popular beach in Bangka Belitung and attracts both local and
          international tourists. This area is well-known for its clean white
          sand. It's also a favorite spot for relaxation in the evening.
        </p>
        <h3 class="text-h3">Attractions of Pantai Tongaci:</h3>
        <p class="text-home">
          Tongaci beach boasts breathtaking natural beauty, with crystal-clear
          seawater. This tourist spot is also a sanctuary for rare and
          endangered sea turtles, such as green turtles and hawksbill turtles.
          At certain times, visitors can hear a bell ringing as a sign for
          feeding the turtles. This bell indicates that it's feeding time for
          the turtles in the sanctuary. Visitors can observe the caretakers
          feeding the turtles during these times.
        </p>

        <p class="text-home">
          Various activities can be enjoyed at the beach, such as banana boat
          rides, canoeing, and swimming. For those who love taking photos, there
          are several attractive photo spots in the area
        </p>

        <p class="text-home">
          The beach management has transformed the entrance road with colorful
          umbrellas, creating a picturesque scene. Visitors can take photos with
          these umbrellas in the background. Additionally, there are souvenirs
          available as handmade crafts by local artisans. Beach activities don't
          stop at sunset, as the beach area can be used for relaxation at night.
          There are restaurants, bars, and cafes offering a variety of local
          Bangka cuisine to accompany visitors in the evening. The area also
          features the Garuda Museum, which collects old books from the colonial
          era and book galleries.
        </p>
        <p class="text-home">
          Previously, Tongaci beach was only known as a sea turtle sanctuary.
          However, after renovations, the facilities at the beach have become
          more diverse, allowing visitors to enjoy the beach from day to night.
        </p>
        <h3 class="text-h3">Ticket Prices:</h3>
        <p class="text-home">
          To enjoy the beauty of Tongaci beach, visitors will be charged an
          entrance fee of Rp 10,000 per person.
        </p>
        <h3 class="text-h3">Access to Pantai Tongaci:</h3>
        <p class="text-home">
          Tongaci beach is approximately 39 kilometers from Pangkalpinang City,
          with a travel time of about 50 minutes. The journey will pass through
          Sungai Liat - Pangkalpinang Road and Jenderal Sudirman Road.
        </p>
      </div>
    </div>
  </main>
</section>

<%- include("../partials/footer"); -%>
